{% extends "base.html" %}

{% block content %}

    <!--{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}-->


    

{% if user.is_authenticated %}

{% if friend %}

    {% if operation == 0 %}

        {% if state == 0 %}
    
        <div class="page-header">
            <h2>Pridať priateľa</h2>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <form action="." method="POST" class="well">{% csrf_token %}
                        <fieldset>
                            <textarea class="span12" rows="4" cols="80" name="message" placeholder="Správa pre používateľa {{ friend.username }}..."></textarea>
                        
                            <div class="form-actions">
                                <input type="submit" value="Pridať" class="btn btn-primary btn-large">
                            </div>
                        </fieldset>       
                    </form>
                    
                </div>
            </div>
        </div>
        
        {% else %}
        {% if state == 1 %}
            <div class="alert">
                <strong>Chyba!</strong> Tomuto používateľovi ste už poslali žiadosť o priateľstvo.
            </div>
            <center>
                <a href="{% url show_users_page %}">
                    <button class="btn btn-primary btn-large btn-info">Späť na zoznam používateľov</button>
                </a>
            </center>
        {% else %}
        {% if state == 2 %}
            <div class="alert alert-success">
                <strong>Úspech!</strong> Žiadosť o priateľstvo odoslaná.
            </div>
            <center>
                <a href="{% url show_users_page %}">
                    <button class="btn btn-primary btn-large btn-info">Späť na zoznam používateľov</button>
                </a>
            </center>
        {% else %}
        {% if state == 3 %}
            <div class="alert alert-error">
                <strong>Chyba!</strong> Nemožno pridať samého seba.
            </div>
            <center>
                <a href="{% url show_users_page %}">
                    <button class="btn btn-primary btn-large btn-info">Späť na zoznam používateľov</button>
                </a>
            </center>
        {% else %}
        {% if state == 4 %}
            <div class="alert alert-success">
                S týmto používateľom už ste priatelia.
            </div>
            <center>
                <a href="{% url show_users_page %}">
                    <button class="btn btn-primary btn-large btn-info">Späť na zoznam používateľov</button>
                </a>
            </center>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        
    {% else %}
    {% if operation == 1 %}
    
        {% if state == 0 %}
        
        <div class="page-header">
            <h2>Odstrániť priateľa</h2>
        </div>
    
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <form action="." method="POST" class="well">{% csrf_token %}
                        <fieldset>
                            <legend>Naozaj odstrániť užívateľa {{ friend.username }} spomedzi priateľov?</legend>
                            <div class="form-actions">
                                <input type="submit" value="Odstrániť" class="btn btn-primary btn-large">
                            </div>
                        </fieldset>       
                    </form>
                </div>
            </div>
        </div>
        
        {% else %}
        {% if state == 1 %}
            <div class="alert">
                <strong>Chyba!</strong> Nemožno odstrániť samého seba.
            </div>
            <center>
                <a href="{% url show_users_page %}">
                    <button class="btn btn-primary btn-large btn-info">Späť na zoznam používateľov</button>
                </a>
            </center>
        {% else %}
        {% if state == 2 %}
            <div class="alert">
                <strong>Chyba!</strong> Tento užívateľ nie je medzi vašími priateľmi.
            </div>
            <center>
                <a href="{% url show_users_page %}">
                    <button class="btn btn-primary btn-large btn-info">Späť na zoznam používateľov</button>
                </a>
            </center>
        {% else %}
        {% if state == 3 %}
            <div class="alert alert-success">
                <strong>Úspech!</strong> Užívateľ úspešne zmazaný spomedzi priateľov.
            </div>
            <center>
                <a href="{% url show_users_page %}">
                    <button class="btn btn-primary btn-large btn-info">Späť na zoznam používateľov</button>
                </a>
            </center>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
    
    {% else %}
    {% if operation == 2 %}
    
        {% if state == 0 %}
    
        <div class="page-header">
            <h2>Poslať správu</h2>
        </div>
        
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <form action="." method="POST" class="well">{% csrf_token %}
                        <fieldset>
                            <input class="input-block-level" {% if header %}value="{{ header }}"{% endif %} name="header" type="text" placeholder="Zhrnutie správy...">
                            
                            <div class="control-group {% if errors.message %}error{% endif %}">
                                <div class="controls">
                                    <textarea class="span12" rows="4" cols="80" name="message" placeholder="Správa pre používateľa {{ friend.username }}...">{% if message %}{{ message }}{% endif %}</textarea>
                                </div>
                                <span class="help-inline">{{ errors.message }}</span>
                            </div>
                        
                            {% if captcha %}
                                <div class="control-group {% if captcha.errors %}error{% endif %}">
                                    <div class="controls">
                                        {{ captcha.captcha }}
                                    </div>
                                    <span class="help-inline">{{ captcha.errors }}</span>
                                </div>
                            {% endif %}
                            
                            <div class="form-actions">
                                <input type="submit" value="Odoslať" class="btn btn-primary btn-large">
                            </div>
                        </fieldset>       
                    </form>
                    
                </div>
            </div>
        </div>
        
        {% else %}
        {% if state == 1 %}
            <div class="alert">
                <strong>Chyba!</strong> Nemožno poslať správu samému sebe.
            </div>
            <center>
                <a href="{% url show_users_page %}">
                    <button class="btn btn-primary btn-large btn-info">Späť na zoznam používateľov</button>
                </a>
            </center>
        {% else %}
        {% if state == 2 %}
            <div class="alert alert-success">
                <strong>Úspech!</strong> Správa odoslaná.
            </div>
            <center>
                <a href="{% url show_users_page %}">
                    <button class="btn btn-primary btn-large btn-info">Späť na zoznam používateľov</button>
                </a>
            </center>
        {% endif %}
        {% endif %}
        {% endif %}
    
    {% endif %}
    {% endif %}
    {% endif %}
    
{% else %}
    <div class="alert alert-error">
        <strong>Chyba!</strong> Užívateľ nenájdený.
    </div>
    <center>
        <a href="{% url show_users_page %}">
            <button class="btn btn-primary btn-large btn-info">Späť na zoznam používateľov</button>
        </a>
    </center>
{% endif %}
    
{% else %}
    <div class="alert">
        <strong>Chyba!</strong> Nie ste prihlásení.
    </div>
    <center>
        <a href="{% url accounts_login %}">
            <button class="btn btn-primary btn-large btn-info">Prihlásiť sa</button>
        </a>
    </center>
{% endif %}


{% endblock %}