{% extends "base.html" %}


{% block content %}

<div class="alert alert-error">
    <strong>Chyba 500!</strong> Chyba servera.
</div>

<center>
    <a href="/">
        <button class="btn btn-primary btn-large btn-info">Prejsť na hlavnú stránku</button>
    </a>
</center>

{% endblock %}