html {
    min-width: 800px;
}

body {
    padding-top: 60px;
}

.non-link-nav {  
    padding: 10px;  
} 

.table tbody tr th {
    background: #2e3236;
}

.table tbody tr th.final {
    background: #666666;
}

table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}

.error_row {
    background: #823B42;
}


.no-space [class*="span"] {
    margin-left: 0;
}

.no-space {
    margin-left:0;
}


.search-navbar {
    position:relative;
    margin-left:-22px;
    top:-3px;
    z-index:2;
}

textarea { 
    resize: none; 
}

.table tbody tr.white td {
  background-color: #454545;
}