{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<div class="page-header">
    <h2>Vytvoriť Achievement</h2>
</div>

{% else %}

    <div class="alert">
        <strong>Chyba!</strong> Nie ste prihlásení.
    </div>
    <center>
        <a href="{% url accounts_login %}">
            <button class="btn btn-primary btn-large btn-info">Prihlásiť sa</button>
        </a>
    </center>
    
{% endif %}
    
{% endblock %}

